@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #050505; /* pitch-black */
  color: #FFFFFF;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
